body {
    background-image: url("../img/background-gradient.png");
    background-position: left top;
    background-repeat: repeat-x;
    background:  url('../img/body-back-bottom.jpg') center bottom no-repeat, url("../img/background-gradient.png") left top repeat-x;
}
.container 
{
    width: 980px;
    background-color: #d8e5f5;
    -webkit-box-shadow:  0px 0px 40px 0px #000;
    box-shadow:  0px 0px 40px 0px #000;
    -webkit-box-shadow:  0px 0px 40px 0px rgba(0, 0, 0, .75);
    box-shadow:  0px 0px 40px 0px rgba(0, 0, 0, .75);
    background-image: url('../img/container-back.png');
    background-position: left bottom;
    background-repeat: no-repeat;
}
#header {
    height: 210px;
    background-image: url("../img/header-back.png");
    background-repeat: no-repeat;
    background-position: top right;
    padding: 0;
    background-color: #fff;
}
#logo-wrap, #social
{
    width: 50%;    
    float: left;
}
#social 
{
    position: relative;
}

#logo {
    text-indent: -9999px;
    display: inline-block;
    width: 488px;
    height: 210px;
    background-repeat: no-repeat;
    background-image: url("../img/varisafe-logo.png");
    margin: 0px;
}

#header-contact {
    color: #fff;
    margin-right: 40px;
    margin-top: 170px;
    position: absolute;
    right: 0px;
}

#header-contact a {
    color: #fff;
}

#header-contact, #header-contact a {
        display: inline-block;
        text-align: right;
    }
    
/* SOCIAL */
.social-icon {
    text-indent: -9999px;
    display: inline-block;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    margin: 25px 10px 10px 10px;
}
#icon-facebook {
    background-image: url("../img/facebook-icon.png");
}
#icon-twitter {
    background-image: url("../img/twitter-icon.png");
    margin-right: 40px;
}
/* END SOCIAL */

/* NAV */
#globalNav 
{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ef9a10;
}

#globalNav > div {
    background: #ef9a10 url('../img/nav-back.png') top left repeat-x;
    text-align: center;
}
#globalNav > div > div {
    display: block;
}
#nav1 {
    font-size: 20px;
    color: #fff;
    margin: 0 auto !important;
    display: block;
    height: 100%;
    clear: both;
}

#nav1 a {
    font-size: 20px;    
    height: 50px;
    color: #fff;
}
#nav1 li:hover, #nav1 li.active {
    background-color: #feab03;
}
#nav1 li a:hover, #nav1 li a.active {
    text-decoration: none;
}

#nav1 > li 
{
    display: inline-block;
    list-style-type: none;
    height: 50px;
    width: auto;
    position: relative;
}

#nav1 > li a {
    padding: 0 40px;
    line-height: 50px;
}

#nav1 > li > ul {
    position: absolute;
    display: none;
    list-style-type: none;
    left: -25px;
    text-align: left;
    width: 300px;
}

#nav1 > li:hover ul 
{
    display: block;
    z-index: 9999;
    background-color:#feab03;
}
#nav2 li:hover, #nav1 li.active {
    background-color: #ef9a10;
}
#nav-wrap 
{
    position: relative;
    width: 100%;
}
#left-nav-side
{
    width: 20px;
    height: 109px;
    position: absolute;
    top: -54px;
    left: -20px;
    background: transparent url('../img/left-nav-side.png') 0 0 no-repeat;    
}
#right-nav-side 
{
    width: 20px;
    height: 109px;
    position: absolute;
    top: -54px;
    right: -20px;
    background: transparent url('../img/right-nav-side.png') -11px 0 no-repeat;
}

/* END NAV */

#slider-wrap {
    margin-top: 20px;
    background-color: #fff;
}

/* slider */
#slider-wrap 
{
    -webkit-border-radius: 4px;
    border-radius: 4px;    
}
.carousel, .carousel-inner
{
    overflow: hidden;
    margin-bottom: 0;   
    height: 350px;
}

.carousel .item img {
    margin: 0 auto;
    text-align: center;
    width: 100%;
}
.carousel-control {
    top: 40%;
    margin: 20px;
}

/* end slide */

div.credit 
{
    margin-top: 30px;
}
div.credit p
{
    color: #fff;
}

#content, #slider 
{
    padding: 0 20px;  
    clear: both;  
}
#content
{
    margin-top: 20px;  
}

#content div.left 
{
    width: 660px;
    float: left;
}
#content div.right
{
    width: 260px;
    float: right;
}
#mainColumn > div.main, #mainColumn > div.inside
{
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: whiteSmoke;
    border: 1px solid #E3E3E3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);    
}

#mainColumn > div.header,#mainColumn > div.footer {display: none;}

#sidecolumn2 h4 
{
    margin: 0 0 10px 0;
    color: #DC8005;    
}

.sidebar-course 
{
    background-color: #fdedd9;    
    margin-bottom: 1px;
    padding: 2px 10px;
}
.sidebar-course h5
{
    margin: 2px 0;   
    font-size: 13px;
    color: #DC8005; 
}

#sidebar-register 
{    
    margin-bottom: 1px;
    padding: 2px 10px;    
}

#sidebar-register .table
{    
    background-color: #fff;  
}


#sidebar-register select {width: 200px;}


/* FOOTER MENU */
#footerwrap {
    text-align: center;
    padding-bottom: 15px;
}

#footerwrap > ul {
    display: inline-block;
    margin: 0 auto;
}

#footerwrap > ul > li {
    display: inline-block;
    margin: 0 auto;
    margin: 0 20px;
}

#footerwrap > ul > li a {
    color: #456ea8;
    font-weight: bold;
}

/* END FOOTER MENU */

#recentNews
{
    background-color: #FDEDD9;
    margin: 10px 0px;
    padding: 1px 10px 5px 10px;
}
#recentNews h4
{
    margin: 10px 0 10px 0;
    color: #DC8005;
}

#news {
    list-style-type: none;
    margin: 0;
}


.row-padding 
{
    padding: 0px 10px !important;    
}

#dvThankYou 
{
    padding: 0px 0px 0px 20px;
}

#dvTOC {
  height: 100px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 5px;
}
#agreeTOC {
  position: relative;
  top: 4px;
  left: 5px;
}
.underline {
  text-decoration: underline;
}